.App {
  text-align: center;
  color: black;
  font-size: max(4vh, 30px);

  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main-Button {
  font-size: inherit;
}


.App-link {
  color: #61dafb;
}

.Input-Div {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 5vh;
  margin-bottom: 6vh;
}

.Labeled-Input {
  display: flex;
  flex-direction: column;
  max-width: 6em;
}

.Main-Input {
  font-size:100%
}
